@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
}
.background {
    stroke-width: 4;
    fill: none;
}
.overlayLine {
    fill: none;
    stroke-width: 4;
    animation: dash 5s linear forwards;
}
@font-face{
    font-family: "myRoboto";
    src: url("fonts/Roboto/Roboto-Regular.ttf");
}
@font-face{
    font-family: "titleRoboto";
    src: url("fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
html, body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    overflow-x: hidden;
    touch-action: manipulation;
    padding-bottom: 20px;
}
body, textarea{
    font-family: 'myRoboto';
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    position: relative;
}
.spacer{
    margin-bottom: 40px;
}

/* HOME PAGE */
#installContainer{
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    bottom: 50px;
    background-color: #242323ee;
    border-radius: 4px;
    width: 98%;
    height: 60px;
    font-size: 14px;
    z-index: 10000;
    color: white;
}
@media only screen and (min-width: 575px){
    #installContainer{
        text-align: center;
    }
}
.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #242323ee;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    bottom: -20px;
  }
#headerImg{
    position: relative;
    top: 0;
    background-image: url("photos/angels-landing-zion-national-park-medium.jpg");
    background-size: cover;
    height: 30vh;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
    background-position: center;
}
.headerText{
    width: 240px;
    margin: 20px;
    bottom: 0;
    position: absolute;
    color: white;
}
.headerText h1{
    font-size: 32px;
    font-weight: bold;
    margin: 0px;
}
.headerText p{
    font-size: 16px;
    margin: 0px;
    vertical-align: middle;
}
.bison{
    height: 24px;
    width: 24px;
    vertical-align: middle;
    margin-right: 10px;
}
.grid-container{
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 8px;
    padding: 8px;
    color: white;
}
.grid-item{
    position: relative;
    width: 100%;
    height: 28vh;
    border-radius: 4px;
    overflow: hidden;
}
#entrances{
    background: url("photos/south-entrance_medium.jpg");
    background-size: cover;
    background-position: center;
}
#parking{
    background: url("photos/parking-medium.jpg");
    background-size: cover;
    background-position: center;
}
#shuttles{
    background: url("photos/shuttles_medium.jpg");
    background-size: cover;
    background-position: center;
}
#trails{
    background: url("photos/parus-trail-medium.jpg");
    background-size: cover;
    height: 49%;
    border-radius: 4px;
    background-position: center;
}
.gridText{
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    margin: 8px;
    bottom: 0;
}
.gridText h2{
    margin: 0px;
}
.live{
    float: right;
    margin: 8px;
}
.liveImg{
    height: 14px;
    width: 14px;
    margin-left: 4px;
    font-weight: normal;
}
#updatesWrap{
    background-color: #1E3D54;
    border-radius: 4px;
    height: 48%;
    margin-bottom: 8px;
    padding: 8px;
    position: relative;
}
#updatesTitle{
    margin: 0px;
    color: #24C73E;
    font-size: 14px;
    line-height: 12px;
    font-weight: 500;
    position: absolute;
    top: 8px;
}
#updatesText{
    font-size: 12px;
    color: white;
    margin: 0px;
    margin-top: 4px;
    position: absolute;
    top: 20%;
}
#calendar{
    position: absolute;
    right: 4px;
    bottom: 4px;
}
#updateBold{
    font-size: 14px;
    font-weight: bold;
    margin: 2px 0px;
    position: absolute;
    bottom: 0px;
}

/* UPDATES PAGE */
.contentWrapper{
    padding: 16px;
}
#updatesImg{
    position: relative;
    top: 0;
    background-image: url("photos/zion-canyon-overlook-trail-medium.jpg");
    background-size: cover;
    height: 30vh;
    background-position: bottom;
}
.backArrow{
    width: 35px;
    height: 35px;
    margin: 8px;
}
.uTitle{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}
.uSub{
    font-size: 18px;
    font-weight: 600;
    margin: 16px 0px;
}
.buyTicket{
    display: block;
    width: 200px;
    margin: 16px;
    margin-left: auto;
    margin-right: auto;
}
.linkImg{
    vertical-align: middle;
    margin: 4px 0px;
}
.linkText{
    color: #28430A;
    line-height: 21px;
    margin: 4px 0px;
    vertical-align: middle;
}
.spacer{
    margin-bottom: 16px;
}
a{
    text-decoration: none;
}

/* bottom navigation tabs */
.bottomNavBar {
    position: fixed;
    width: 100%;
    bottom: 0px;
}
.homeTabFocus {
    border-bottom: solid 2px #28430A;
}
.mapTabFocus {
    border-bottom: solid 2px #28430A;
}

#map {
    height: 500px;
    width: 100%;
}
/* SUB NAV PAGES */

.mapStatic{
    background-image: url("Map\ photos/Entrances.jpg");
    position: relative;
    top: 0;
    background-size: cover;
    height: 30vh;
    background-position: center;
}
.map2{
    background-image: url("Map\ photos/Parking.jpg");
}
.map3{
    background-image: url("Map\ photos/Shuttles.jpg");
}
.map4{
    background-image: url("Map\ photos/Trails.jpg");
}
.svg{
    display: inline-block;
}
.contentTitle{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}
h5{
    font-size: 16px;
    font-weight: 600;
}
.lineWrapper{
    height: 53px;
    margin: 16px 0px;
}
.lineWrapper2{
    display: inline-block;
    font-size: 11px;
    line-height: 53px;
    vertical-align: top;
    margin: 8px;
    margin-top: 10px;
    width: 50%;
}
.lineWrapper2 h5, .lineWrapper2 p{
    line-height: 17px;
}
.lineWrapper2 h5{
    margin-top: -2px;
}
.lineWrapper2 p{
    margin-left: 2px;
}
.lineWrapper3{
    width: 60px;
    float: right;
    font-size: 14px;
    text-align: right;
}
.lineWrapper3 p{
    margin-top: 8px;
}
.circleBtn{
    height: 60px;
    width: 60px;
    position: absolute;
    cursor: pointer;
}
.download{
    bottom: -30px;
    right: 70px;
}
.expand{
    bottom: -30px;
    right: 10px;
}
.shuttleNum{
    display: inline-block;
    margin: 4px;
    vertical-align: top;
}
.shuttleWrap h5, .shuttleWrap p{
    line-height: 17px;
}
.shuttleWrap h5{
    margin-top: 7px;
}
.shuttleWrap{
    width: 80%;
    display: inline-block;
    font-size: 11px;
    line-height: 53px;
    vertical-align: top;
}
.shuttleWrap p{
    margin-bottom: 0px !important;
}
.alert{
    height: 25px;
    width: 25px;
    vertical-align: middle;
    margin-bottom: 3px;
}
h4{
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
}
.trailTitle{
    font-size: 18px;
    font-weight: 500;
    margin: 24px 0px 16px 0px;
}