@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
}
.background {
    stroke-width: 4;
    fill: none;
}
.overlayLine {
    fill: none;
    stroke-width: 4;
    animation: dash 4s linear forwards;
}
@font-face{
    font-family: "myRoboto";
    src: url("fonts/Roboto/Roboto-Regular.ttf");
}
@font-face{
    font-family: "titleRoboto";
    src: url("fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
html, body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    overflow-x: hidden;
    touch-action: manipulation;
}
.nospace{
    padding-bottom: -60px !important;
}
body, textarea{
    font-family: 'myRoboto';
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    position: relative;
}
.spacer{
    margin-bottom: 40px;
}
.push{
    height: 35px;
}
.push2{
    height: 20px;
}

/* HOME PAGE */
#installContainer{
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
    bottom: 50px;
    background-color: #242323ee;
    border-radius: 4px;
    width: 98%;
    height: 60px;
    font-size: 14px;
    z-index: 10000;
    color: white;
}
@media only screen and (min-width: 575px){
    #installContainer{
        text-align: center;
    }
}
.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #242323ee;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    bottom: -20px;
}
@media only screen and (min-width: 575px){
    #installContainer{
        top: 25px;
        bottom: unset;
        background-color: rgba(242, 247, 250, 0.687);
        color: black;
    }
    .arrow-down{
        transform: rotate(180deg);
        top: -100px;
        border-top: 20px solid rgba(242, 247, 250, 0.687);
    }
}
#headerImg{
    position: relative;
    top: 0;
    background-image: url("photos/angels-landing-zion-national-park.jpg");
    background-size: cover;
    height: 30vh;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
    background-position: center;
}
.headerText{
    width: 240px;
    margin: 20px;
    bottom: 0;
    position: absolute;
    color: white;
}
.headerText h1{
    font-size: 32px;
    font-weight: bold;
    margin: 0px;
}
.headerText p{
    font-size: 16px;
    margin: 0px;
    vertical-align: middle;
}
.bison{
    height: 24px;
    width: auto;
    vertical-align: middle;
    margin-right: 10px;
}
.grid-container{
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 8px;
    padding: 8px;
    color: white;
}
.grid-item{
    position: relative;
    width: 100%;
    height: 28vh;
    border-radius: 4px;
    overflow: hidden;
}
#entrances{
    background: url("photos/south-entrance_medium.jpg");
    background-size: cover;
    background-position: center;
}
#parking{
    background: url("photos/parking-medium.jpg");
    background-size: cover;
    background-position: center;
}
#shuttles{
    background: url("photos/shuttles_medium.jpg");
    background-size: cover;
    background-position: center;
}
#trails{
    background: url("photos/parus-trail-medium.jpg");
    background-size: cover;
    height: 49%;
    border-radius: 4px;
    background-position: center;
}
.gridText{
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    margin: 8px;
    bottom: 0;
}
.gridText h2{
    margin: 0px;
}
.live{
    float: right;
    margin: 8px;
}
.liveImg{
    height: 14px;
    width: 14px;
    margin-left: 4px;
    font-weight: normal;
}
#updatesWrap{
    background-color: #1E3D54;
    border-radius: 4px;
    height: 48%;
    margin-bottom: 8px;
    padding: 8px;
    position: relative;
}
#updatesTitle{
    margin: 0px;
    color: #24C73E;
    font-size: 14px;
    line-height: 12px;
    font-weight: 500;
    position: absolute;
    top: 8px;
}
#updatesText{
    font-size: 12px;
    color: white;
    margin: 0px;
    margin-top: 4px;
    position: absolute;
    top: 20%;
}
#calendar{
    position: absolute;
    right: 4px;
    bottom: 4px;
}
#updateBold{
    font-size: 14px;
    font-weight: bold;
    margin: 2px 0px;
    position: absolute;
    bottom: 0px;
}
.linkClass{
    width:100%;
    height:90%;
    margin-top: 45px; 
    position: absolute;
}
/* UPDATES PAGE */
.contentWrapper{
    padding: 16px;
}
#updatesImg{
    position: relative;
    top: 0;
    background-image: url("photos/zion-canyon-overlook-trail-medium.jpg");
    background-size: cover;
    height: 30vh;
    background-position: bottom;
}
.backArrow{
    width: 35px;
    height: 35px;
    margin: 8px;
}
.backArrow{
    width: 35px;
    height: 35px;
    margin: 8px;
}
.backX{
    width: 16px;
    height: 16px;
    margin: 16px;
}
.uTitle{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}
.uSub{
    font-size: 18px;
    font-weight: 600;
    margin: 16px 0px;
}
.buyTicket{
    display: block;
    width: 200px;
    margin: 16px;
    margin-left: auto;
    margin-right: auto;
}
.linkImg{
    vertical-align: middle;
    margin: 4px 0px;
}
.linkText{
    color: #28430A;
    line-height: 21px;
    margin: 4px 0px;
    vertical-align: middle;
}
.spacer{
    margin-bottom: 16px;
}
a{
    text-decoration: none;
}

/* bottom navigation tabs */
.bottomNavBar {
    position: fixed;
    width: 100%;
    bottom: 0px;
}
.homeTabFocus {
    border-bottom: solid 2px #28430A;
}
.mapTabFocus {
    border-bottom: solid 2px #28430A;
}

/* SUB NAV PAGES */
#staticMapTab{
    width: 100%;
    height: 100%;
    margin-top: 25px;
}
#staticMapDownload{
    position: fixed;
    top: 10px;
    right: 10px;
}
.mapStatic{
    background-image: url("Map\ photos/Entrances.jpg");
    position: relative;
    top: 0;
    background-size: cover;
    height: 30vh;
    background-position: center;
}
.map2{
    background-image: url("Map\ photos/Parking.jpg");
}
.map3{
    background-image: url("Map\ photos/Shuttles.jpg");
}
.map4{
    background-image: url("Map\ photos/Trails.jpg");
}
.svg{
    display: inline-block;
}
.contentTitle{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}
h5{
    font-size: 16px;
    font-weight: 600;
}
.updateNowWrapper{
    margin-top: -24px;
}
.updateTime{
    font-size: 11px;
    margin: -16px 0px 10px 2px;
    display: inline-block;
}
.updateNowBtn{
    color: #28430A;
    font-size: 14px;
    font-weight: 500;
    float: right;
}
.lineWrapper{
    height: 53px;
    margin: 16px 0px;
}
.lineWrapper2{
    display: inline-block;
    font-size: 11px;
    line-height: 53px;
    vertical-align: top;
    margin: 8px;
    margin-top: 10px;
    width: 50%;
}
.lineWrapper2 h5, .lineWrapper2 p{
    line-height: 17px;
}
.lineWrapper2 h5{
    margin-top: -2px;
}
.lineWrapper2 p{
    margin-left: 2px;
}
.lineWrapper3{
    width: 60px;
    float: right;
    font-size: 14px;
    text-align: right;
}
.lineWrapper3 p{
    margin-top: 8px;
}
.circleBtn{
    height: 60px;
    width: 60px;
    position: absolute;
    cursor: pointer;
}
.download{
    bottom: -30px;
    right: 70px;
}
.expand{
    bottom: -30px;
    right: 10px;
}
.shuttleNum{
    display: inline-block;
    margin: 4px;
    vertical-align: top;
}
.shuttleWrap h5, .shuttleWrap p{
    line-height: 17px;
}
.shuttleWrap h5{
    margin-top: 7px;
}
.shuttleWrap{
    width: 80%;
    display: inline-block;
    font-size: 11px;
    line-height: 53px;
    vertical-align: top;
}
.shuttleWrap p{
    margin-bottom: 0px !important;
}
.alert{
    height: 25px;
    width: 25px;
    vertical-align: middle;
    margin-bottom: 3px;
}
h4{
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
}
.trailTitle{
    font-size: 18px;
    font-weight: 500;
    margin: 24px 0px 16px 0px;
}
.mapIframe{
    height: 90%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

/* Trail Pages */

.trailPhoto{
    position: relative;
    top: 0;
    background-size: cover;
    height: 30vh;
    background-position: center;
}
.parusPhoto{
    background-image: url("trail\ photos/pa'rus/parus-trail-1.jpg");
}
.trailsGridContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    color: black;
    font-size: 10px;
    justify-content: space-between;
}
.trailsGridItem{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.boldTrail{
    font-size: 14px;
    font-weight: 600;
}
.trailText{
    font-size: 16px;
    margin-top: 16px;
    line-height: 20px;
}
.trailMapTitle{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}
.trailMap{
    width: 100%;
    height: 30vh;
    margin: 16px 0px;
}
.trailLineWrapper{
    height: 40px;
}
.trailsIcon{
    height: auto;
    width: 20px;
    margin: 8px;
    display: inline-block;
    vertical-align: middle;
}
.trailsIconText{
    display: inline-block;
    margin-bottom: 0px !important;
    font-size: 16px;
}
.blackBack{
    background-color: black;
    height: 100%;
}
.whiteDownload{
    margin-right: 16px;
    margin-top: -42px;
    width: 30px;
    height: auto;
    float: right;
}
.trailPhotoLone{
    width: 100%;
    height: 30vh;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
@media only screen and (max-width: 365px) {
    .trailsIconText{
        font-size: 12px;
    }
}
* {box-sizing:border-box}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  z-index: 6;
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 35%;
  width: 55px;
  height: 30px;
  background-color: rgba(0,0,0,0.9);
  z-index: 5;
  text-align: center;
}

.dotContainer{
    text-align: center;
    margin: auto;
    position: absolute;
    top: 70%; left: 0; bottom: 0; right: 0;
    width: 100%;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}